.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-overlay.hidden {
    display: none;
}

.modal {
    width: 40%;
    background: beige;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal button {
    width: 12%;
    padding: 0.5rem;
    align-self: flex-end;
    cursor: pointer;
}

.modal input {
    width: 50%;
    padding: 0.5rem;
    font-size: 1rem;
}
