/* .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-overlay.hidden {
    display: none;
}

.modal {
    position: relative;
    width: 40%;
    background: rgb(128, 193, 227);
    padding: 3rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    line-height: 1;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-group label {
    flex: 1;
}

.form-group input {
    width: 60%;
    padding: 0.5rem;
    font-size: 1rem;
}

.form-group input[type="checkbox"] {
    width: auto;
    margin-right: auto;
}

#submitBtn {
    width: auto;
    min-width: 12%;
    padding: 0.5rem 1rem;
    align-self: flex-end;
    cursor: pointer;
} */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-overlay.hidden {
    display: none;
}

.modal {
    position: relative;
    width: 30%;
    background: rgb(128, 193, 227);
    padding: 2.5rem 0.5rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.close-button {
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    line-height: 1;
    z-index: 1001;
    border: 2px solid rgb(44, 143, 94);
    border-radius: 0.3rem;
}

.close-button:hover {
    background: rgb(30, 102, 135);
}

fieldset {
    border: 2px solid rgb(44, 143, 94);
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

legend {
    font-weight: bold;
    padding: 0 0.5rem;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-group label {
    flex: 1;
}

.form-group input {
    width: 60%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.form-group input[type="checkbox"] {
    width: auto;
    margin-right: auto;
}

#submitBtn {
    width: auto;
    min-width: 20%;
    padding: 0.5rem 1rem;
    align-self: flex-end;
    cursor: pointer;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

#submitBtn:hover {
    background: rgb(37, 192, 114);
}
