table {
    border: 0.1rem solid purple;
    padding-bottom: 2rem;
    border-collapse: separate;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    margin-left: auto;
    margin-right: auto;
    width: var(--my-width);
}

thead tr,
thead th {
    border: 0.2rem solid black;
    text-align: center;
    border-collapse: separate;
    overflow: hidden;
    border-radius: 2rem;
}

tbody tr,
tbody th {
    border-top: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
    text-align: center;
}

.full-table-header {
    font-size: 2.71rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    color: blue;
}

thead .column-header {
    font-size: large;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: blue;
}

div.managing {
    margin-top: 0.5rem;
    width: var(--my-width);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

button {
    /* border-color: purple; */
    /* all: unset; */
}
