table {
    border: 0.1rem solid purple;
    padding-bottom: 2rem;
    border-collapse: separate;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    margin-left: auto;
    margin-right: auto;
    width: var(--my-width);
}

table#history-table {
    width: calc(var(--my-width) + 20%);
    border: none;
}

thead tr,
thead th {
    border: 0.2rem solid black;
    text-align: center;
    border-collapse: separate;
    overflow: hidden;
    border-radius: 2rem;
}

tbody tr,
tbody th {
    border-top: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
    text-align: center;
}

.full-table-header {
    font-size: 2.71rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    color: blue;
}

thead .column-header {
    font-size: large;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    color: blue;
}

.activity {
    font-size: 1.3rem;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

td button.activity {
    padding: 0;
    margin: 0.1rem;
    box-sizing: border-box;
}

tr th[data-col-sorting] {
    cursor: pointer;
}

tr th:hover[data-col-sorting] {
    background-color: rgb(5, 192, 145);
}

.upload-input {
    display: none;
}

div.managing {
    margin-top: 0.5rem;
    width: var(--my-width);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    align-items: center;
}

div.managing .filter {
    margin-right: auto;
}

div.managing button,
div.managing .custom-upload-btn {
    padding: 0.1rem 0.35rem;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 0.3rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.hide-if-no-tasks {
    pointer-events: none;
    opacity: 0.3;
}

.hide-if-no-tasks.btn-is-active {
    pointer-events: auto;
    opacity: 1;
}

#operators {
    display: flex;
    gap: 2rem;
}

.field-btn {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
}

.field-btn:active {
    background-color: #e0e0e0;
}

#request {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
